@import url(https://fonts.googleapis.com/css?family=Inconsolata)

:root{
    --primary-color: #e32222;
    --border-radius: 5px;
}

html{
    box-sizing:border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color:white;
    padding: 20px;
    background-color: grey;
    border-radius: var(--border-radius);
    cursor: pointer; 
    text-align: center;
    text-transform: uppercase;
    width: 275px;
    margin: 20px auto 10px;
    /* user-select: none; WEBKIT FOR SAFARI NOTE*/
}

h1:hover{
    background-color: black;
}

/*Bookmarks*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Modal*/

.modal-container{
    background: grey;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal{
    background: #ffffff;
    box-shadow: black;
    max-width: 95%;
    width: 500px;
}

.close-icon{
    float: right;
    color: white;
    font-size: 24px;
    position: relative;
    top: 13px; 
    right: 13px;
    cursor: pointer;
}

.modal-header{
    background: var(--primary-color);
    color: lightcoral;
    padding: 15px;
}

h3{
    margin:0;
}

.modal-content{
    padding:20px;
    background: whitesmoke;
}

/*Form styling*/

.form-group{
    height: 55px;
}

.form-input{
    width: 97%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border: var(--border-radius);
    display: block;
    outline: none;
}

.form-label{
    color: var(--primary-color);
    display: block;
}

button{
    cursor: pointer;
    color: green;
    background: var(--primary-color);
    border: none;
    height: 30px;
    width: 100px;
    border-radius: var(--border-radius);
}

button{
    filter: brightness(110%)
}

button:focus{
    outline:none;
}