@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #5991e6;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ta-wrapper {
  background: #3c424a;
  color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 7px 7px rgb(0 0 0 / 20%);
  min-height: 300px;
}

.heading h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.input-wrapper {
  margin-bottom: 20px;
}
.input-wrapper input {
  outline: none;
    border: 0;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    color: white;
    width: 500px;
}
.input-wrapper button {
  background: #e55c8a;
    color: white;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 10px;
}
.todo-item input {
  background: transparent;
  border: navajowhite;
  color: white;
  outline: none;
}
.todo-item i{
  color: #e55c8a;
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 5px;
}
.todo-item button:hover {
  color: white;
}
.done {
  text-decoration: line-through;
}
.fa-x {
  padding: 6px 8px !important;
}

:root{
    --primary-color: #e32222;
    --border-radius: 5px;
}

html{
    box-sizing:border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color:white;
    padding: 20px;
    background-color: grey;
    border-radius: var(--border-radius);
    cursor: pointer; 
    text-align: center;
    text-transform: uppercase;
    width: 275px;
    margin: 20px auto 10px;
    /* user-select: none; WEBKIT FOR SAFARI NOTE*/
}

h1:hover{
    background-color: black;
}

/*Bookmarks*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Modal*/

.modal-container{
    background: grey;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal{
    background: #ffffff;
    box-shadow: black;
    max-width: 95%;
    width: 500px;
}

.close-icon{
    float: right;
    color: white;
    font-size: 24px;
    position: relative;
    top: 13px; 
    right: 13px;
    cursor: pointer;
}

.modal-header{
    background: var(--primary-color);
    color: lightcoral;
    padding: 15px;
}

h3{
    margin:0;
}

.modal-content{
    padding:20px;
    background: whitesmoke;
}

/*Form styling*/

.form-group{
    height: 55px;
}

.form-input{
    width: 97%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border: var(--border-radius);
    display: block;
    outline: none;
}

.form-label{
    color: var(--primary-color);
    display: block;
}

button{
    cursor: pointer;
    color: green;
    background: var(--primary-color);
    border: none;
    height: 30px;
    width: 100px;
    border-radius: var(--border-radius);
}

button{
    filter: brightness(110%)
}

button:focus{
    outline:none;
}